#ui-datepicker-div {background-color: #555; border:2px solid #333;}
#ui-datepicker-div .ui-datepicker-title {color:white;}
#ui-datepicker-div .ui-icon-circle-triangle-w {background: transparent url(icon/prev.png) no-repeat;}
#ui-datepicker-div .ui-icon-circle-triangle-e {background: transparent url(icon/next.png) no-repeat;}
#ui-datepicker-div A.ui-datepicker-prev:hover,
#ui-datepicker-div A.ui-datepicker-next:hover
{
  background-color:#eee;border:1px solid #aaa;
}
.ui-datepicker th {color:#ccc;}
.ui-state-disabled {color:#aaa;}

#ui-datepicker-div .ui-datepicker-control, #ui-datepicker-div  a { background-color: #111; color: #f70 !important;}
#ui-datepicker-div .ui-datepicker-days-row { background-color: #444;}
#ui-datepicker-div .ui-datepicker-week-end-cell, #ui-datepicker-div .ui-datepicker-week-end-cell  a { background-color: #222; color: #f33; border-color: #444; border-top-color: #222; border-left-color: #222;}
#ui-datepicker-div .ui-datepicker-title-row { background-color: #111;}
#ui-datepicker-div .ui-datepicker-title-row .ui-datepicker-week-end-cell a { color: #f33;}
#ui-datepicker-div  a:hover { color: #ff3333 !important; border: 0; background-color: #111 !important;}
#ui-datepicker-div .ui-datepicker-header select { background-color:#444; color:#999; font-weight:normal;}
#ui-datepicker-div .ui-datepicker-links { background-color:#222;}
#ui-datepicker-div .ui-datepicker-header { background-color:#444;}
#ui-datepicker-div .ui-datepicker-current-day { background-color: #111 !important; border-color: #444; border-top-color: #111; border-left-color: #111;}
#ui-datepicker-div .ui-datepicker-days-cell { background-color:#444; border:1px solid #222; border-top-color: #444; border-left-color: #444;}
